.jumbo{
    background-image: url(../img/landing.jpeg);
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}
.header{
    font-size: 30px; 
       color: white;
       
}
.logo{
        text-align: center;
        size: 10px;
}
.hour{
    background-color: gainsboro;
    height: 100px;
    text-align: center;
}
.time{
    background-color: orangered;
    color: white;
    height: 100px;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    }
.sidees{
margin-top: 2%;
}
.col-md-6{
    box-shadow: 2px 4px 3px 3px #DCDCDC
}

.drink{
    margin-top: 2%;
    height: 180px;
    }
.btn{
        color:red;
      } 
 .about{
          font-size: 15px;
          box-shadow: 2px 2px 2px 2px #DCDCDC;
          margin-top: 2%;
        
      }
.get{
    background-image: url(../img/subscribe.jpeg);
    background-repeat: no-repeat;
    height: 110px;
    margin-top: 2%;
    color: white;
text-align: center;
font-size: 20px;
}
.footer{
    background-color: orangered;
    color: white;
    margin: auto;
    height: 160px;

}







